.header {

  background-color: aqua;
}

.container {
  text-align: center;
}

.search-form {
  padding: 20px
}

input {
  height: 30px;
  border-color:rgb(0, 162, 255);
border-width: 3px;
}

button {
  margin-left: 20px;
  padding: 10px;
  border-color: rgb(0, 162, 255);
  border-width: 3px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  
}

.link-card {
  width: calc((100% - 10px * 4) / 5);

  text-decoration: none;
  color: #000000;


}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-card {
 display: flex;
 flex-direction: column;
justify-content: space-between;
}

img[loading="lazy"] {

  width: 100%;

}

.info {
  display: flex;  
 justify-content: space-around;
}


span {
  display: block;
}

